@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  background-color: rgba(242, 242, 242, 1);
  margin: 0;
  min-height: 100vh;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  border-style: none;
  color: white;
  display: block;
  cursor: pointer;
}

.white {
  color: white;
}

.page-big-text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px;
}

.common-text {
  margin: 20px;
}

.page {
  width: 1200px;
  min-height: 100%;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.main-container {
  flex-grow: 1;
}

/*page-header*/

.page-header {
  width: 1060px;
  padding: 0 70px;
  display: flex;
}

.logo-sedona-link {
  width: 140px;
  height: 70px;
  margin-bottom: -6px;
  position: relative;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navigation-list {
  list-style-type: none;
  max-width: 548px;
  max-height: max-content;
  padding: 0;
  margin: 0 30px;
  display: flex;
  flex-wrap: wrap;
}

.navigation-link {
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: black;
  text-decoration: none;
  padding: 20px 16px;
  position: relative;
}

.current-navigation-link::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 16px;
  right: 16px;
  height: 2px;
  background-color: #756257;
}

.navigation-user-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.search {
  display: block;
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 44px;
  height: 64px;
}

.favorites {
  display: block;
  background-image: url("../images/icons/favorites.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 44px;
  height: 64px;
  position: relative;
}

.favorite-number {
  display: block;
  padding: 5px;
  font-size: 10px;
  line-height: 10px;
  background-color: #7DB54F;
  border-radius: 10px;
  width: max-content;
  min-width: 10px;
  text-align: center;
  text-decoration: none;
  position: absolute;
  top: 11px;
  right: 4px;
}

.navigation-user-button {
  display: flex;
  background-color: #756157;
  width: 144px;
  height: 36px;
  justify-content: center;
  align-items: center;
}

.navigation-user-button-wrapper {
  display: block;
  padding: 14px 0 14px 20px;
  text-decoration: none;
}

/*Главная страница*/
/*hero*/

.hero {
  background-color: #3c6178;
  background-image: url("../images/divider.svg"), url("../images/index-background.jpg");
  background-position-y: bottom, center;
  background-repeat: no-repeat, no-repeat;
  background-size: 100% auto, contain;
  text-align: center;
}

.slogan {
  padding-top: 51px;
  padding-bottom: 82px;
  vertical-align: bottom;
}

/*advantages*/

.upper-text-block {
  padding: 49px;
  margin-bottom: 21px;
}

.lower-text-block {
  padding: 44px;
}

.advantages {
  text-align: center;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
}

.advantages-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 30px auto;
}

.blue .advantages-title::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  width: 232px;
  margin: 0;
}

.advantages-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
}

.advantages-container {
  width: 400px;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blue {
  background-color: #82B3D3;
}

.light {
  background-color: rgba(131, 179, 211, 0.12);
}

.light-blue {
  background-color: rgba(131, 179, 211, 0.2);
}

.lower-advantages-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.lower-advantages-item {
  width: 400px;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position-y: 81px;
  background-position-x: center;
  background-repeat: no-repeat;
}

.lower-advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 102px 0 30px;
}

.habitation {
  background-image: url("../images/icons/habitation.svg");
}

.food {
  background-image: url("../images/icons/food.svg");
}

.souvenirs {
  background-image: url("../images/icons/souvenirs.svg");
}

/*hotel-search*/

.hotel-search {
  text-align: center;
  min-height: 288px;
  padding: 42px;
  padding-top: 76px;
}

.hotel-search-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #756157;
  width: 376px;
  height: 54px;
  margin: 54px auto;
}

/*subscribe*/

.subscribe {
  text-align: center;
  padding: 50px;
  padding-top: 76px;
}

.subscribe-index {
  background-color: white;
  background-image: url("../images/subscribe-background-.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-form {
  display: flex;
  margin: 54px auto;
  justify-content: center;
}

.subscribe-input {
  width: 412px;
  padding: 14px 20px;
  border-style: none;
  border-radius: 4px 0 0 4px;
  background-color: white;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.subscribe-input-catalog {
  background-color: #F2F2F2;
}

.subscribe-input::placeholder {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.6;
}

.subscribe-button {
  width: 232px;
  height: 52px;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  border-radius: 0 4px 4px 0;
}

/*КАТАЛОГ*/

.main-inner-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
}

/*hotels-filter*/

.hotels-filter {
  background: url("../images/catalog-background.jpg") no-repeat;
  background-color: #3c6178;
  background-size: cover;
  width: 1060px;
  padding: 35px 70px 70px 70px;
}

.hotels-filter-header {
  margin-bottom: 40px;
}

.breadcrumbs-list {
  list-style-type: none;
  padding: 0;
  margin: 8px 0 0 0;
  display: flex;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  display: block;
  color: white;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link-home {
  background-image: url("../images/icons/breadcrumb-home.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 13px;
  height: 21px;
  margin: 0;
}

.breadcrumbs-item {
  display: flex;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  width: 8px;
  height: 21px;
  background-image: url("../images/icons/breadcrumbs-divider.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 10px;
}

.filter-form {
  display: flex;
}

.hotels-filter-area {
  margin-right: 70px;
}

.hotels-filter-area:nth-of-type(3) {
  margin-left: auto;
}

.hotels-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.hotels-filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hotels-filter-item {
  font-size: 18px;
  line-height: 23px;
}

.buttons-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.submit-button {
  width: 191px;
  height: 36px;
  background-color: #82B3D3;
  margin-bottom: 32px;
}

.reset-button {
  width: 191px;
  height: 36px;
  box-sizing: border-box;
  background-color: transparent;
}

/*catalog*/

.catalog {
  padding: 50px 70px 60px;
}

.sorting {
  display: flex;
  align-items: center;
}

.sorting-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
  margin-right: auto;
}

.sorting-by-price {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #333333;
  width: 292px;
  height: 49px;
  outline: 2px solid #E5E5E5;
  border-radius: 4px;
  background-color: transparent;
  border: none;
  padding-left: 18px;
}

.view-types-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 8px;
  margin-left: 70px;
}

.view-types-button {
  display: block;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.view-types-button-current {
  border-color: black;
}

.view-types-button:hover {
  border-color: black;
}

.view-types-button:focus {
  border-color: #68A2CA;
}

.view-types-button:active {
  border-color: black;
}

.show-by-tile {
  background-image: url("../images/icons/icon-show-by-tile.svg");
}

.show-the-whole {
  background-image: url("../images/icons/icon-show-the-whole.svg");
}

.show-as-a-list {
  background-image: url("../images/icons/icon-show-as-a-list.svg");
}

.hotels-list {
  list-style-type: none;
  padding: 40px 0 39px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border-bottom: 1px solid #E6E6E6;
}

.hotel-card {
  padding: 20px;
  outline: 1px solid #E6E6E6;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 20px;
  align-items: center;
}

.hotel-card-image {
  vertical-align: bottom;
  grid-column: 1/-1;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  grid-column: 1/-1;
}

.hotel-card-type {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-price {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
}

.about-hotel-button {
  width: 140px;
  height: 36px;
  background-color: #756157;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-to-favorite {
  width: 140px;
  height: 36px;
  background-color: #82B3D3;
}

.add-to-favorite-added {
  background-color: #7DB54F;
}

.rating-star {
  width: 24px;
  height: 17px;
  background-image: url("../images/icons/rating-star.svg");
  background-repeat: space;
  background-position-y: center;
}

.two-rating-star {
  width: 48px;
}

.three-rating-star {
  width: 72px;
}

.four-rating-star {
  width: 96px;
}

.five-rating-star {
  width: 120px;
}

.rating-text {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 140px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
  border-radius: 4px;
  margin: 0;
}

.pagination-list {
  list-style-type: none;
  padding: 0;
  margin: 40px 0 0 0;
  display: flex;
  gap: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  background-color: #82B3D3;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  border-radius: 4px;
}

.pagination-link-current {
  background-color: #F2F2F2;
  color: black;
}

.pagination-divider {
  background-color: transparent;
  color: black;
}

/*page-footer*/

.page-footer {
  margin-top: auto;
  width: 1060px;
  min-height: 80px;
  padding: 25px 70px 15px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-media-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 188px;
}

.social-media-link {
  display: flex;
  width: 47px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.social-media-icon {
  fill: #83B3D3;
}

.social-media-link:hover .social-media-icon,
.social-media-link:focus .social-media-icon {
  fill: #68A2CA;
}

.social-media-link:active .social-media-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts {
  max-width: 720px;
}

.contacts-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.contacts-phone:hover,
.contacts-phone:focus {
  color: #756157;
}

.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy-link {
  display: block;
}

.htmlacademy-logo {
  display: block;
  fill: #000000;
}

.htmlacademy-link:hover .htmlacademy-logo,
.htmlacademy-link:focus .htmlacademy-logo {
  fill: #756157;
}

.htmlacademy-link:active .htmlacademy-logo {
  fill: rgba(117, 97, 87, 0.3);
}

/*Состояния кнопок*/

.navigation-user-button-wrapper:hover .navigation-user-button,
.hotel-search-button:hover,
.about-hotel-button:hover,
.navigation-user-button-wrapper:focus .navigation-user-button,
.hotel-search-button:focus,
.about-hotel-button:focus {
  background-color: #615048;
}

.navigation-user-button-wrapper:active .navigation-user-button,
.hotel-search-button:active,
.about-hotel-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.navigation-user-button-wrapper:disabled .navigation-user-button,
.hotel-search-button:disabled,
.about-hotel-button:disabled,
.add-to-favorite:disabled,
.subscribe-button:disabled,
.submit-button:disabled,
.add-to-favorite-added:disabled {
  background-color: #E5E5E5;
}

.add-to-favorite:hover,
.subscribe-button:hover,
.submit-button:hover,
.add-to-favorite:focus,
.subscribe-button:focus,
.submit-button:focus {
  background-color: #68A2CA;
}

.add-to-favorite:active,
.subscribe-button:active,
.submit-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.add-to-favorite-added:hover,
.add-to-favorite-added:focus {
  background-color: #6C9E42;
}

.add-to-favorite-added:active,
.add-to-favorite-added:active {
  color: rgba(255, 255, 255, 0.3);
}

.reset-button:hover {
  opacity: 0.6;
}

.reset-button:focus {
  border: 3px solid #83B3D3;
}

.reset-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.reset-button:disabled {
  color: rgba(255, 255, 255, 0.1);
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #68A2CA;
  border: 1px solid #82B3D3;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link-current:hover,
.pagination-link-current:focus,
.pagination-link-current:active {
  background-color: #F2F2F2;
  color: black;
  border: none;
}

.pagination-divider:hover,
.pagination-divider:focus,
.pagination-divider:active {
  background-color: transparent;
  color: black;
  border: none;
}
