@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  background-color: rgba(242, 242, 242, 1);
  margin: 0;
  min-height: 100vh;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  border-style: none;
  color: white;
  display: block;
  cursor: pointer;
}

.white {
  color: white;
}

.page-big-text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px;
}

.common-text {
  margin: 20px;
}

.page {
  width: 1200px;
  min-height: 100%;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.main-container {
  flex-grow: 1;
}

/*page-header*/

.page-header {
  width: 1060px;
  padding: 0 70px;
  display: flex;
}

.logo-sedona-link {
  width: 140px;
  height: 70px;
  margin-bottom: -6px;
  position: relative;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navigation-list {
  list-style-type: none;
  max-width: 548px;
  max-height: max-content;
  padding: 0;
  margin: 0 30px;
  display: flex;
  flex-wrap: wrap;
}

.navigation-link {
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: black;
  text-decoration: none;
  padding: 20px 16px;
  position: relative;
}

.current-navigation-link::after {
  display: block;
  content: "";
  position: absolute;
  bottom: -1px;
  left: 16px;
  right: 16px;
  height: 2px;
  background-color: #756257;
}

.navigation-user-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.search {
  display: block;
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 44px;
  height: 64px;
}

.favorites {
  display: block;
  background-image: url("../images/icons/favorites.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 44px;
  height: 64px;
  position: relative;
}

.favorite-number {
  display: block;
  padding: 5px;
  font-size: 10px;
  line-height: 10px;
  background-color: #7DB54F;
  border-radius: 10px;
  width: max-content;
  min-width: 10px;
  text-align: center;
  text-decoration: none;
  position: absolute;
  top: 11px;
  right: 4px;
}

.navigation-user-button {
  background-color: #756157;
  width: 160px;
  height: 36px;
  margin: 14px 0 14px 20px;
}

/*Главная страница*/
/*hero*/

.hero {
  background-color: #3c6178;
  background-image: url("../images/divider.svg"), url("../images/index-background.jpg");
  background-position-y: bottom, center;
  background-repeat: no-repeat, no-repeat;
  background-size: 100% auto, contain;
  text-align: center;
}

.slogan {
  padding-top: 51px;
  padding-bottom: 82px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.upper-text-block .page-big-text {
  margin-bottom: 25px;
}

/*advantages*/

.upper-text-block {
  padding: 49px;
  margin-bottom: 21px;
}

.lower-text-block {
  padding: 44px;
}

.advantages {
  text-align: center;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}

.advantages-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 30px auto;
}

.blue .advantages-title::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  width: 232px;
  margin: 0;
}

.advantages-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
}

.advantages-container {
  width: 400px;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blue {
  background-color: #82B3D3;
}

.light {
  background-color: rgba(131, 179, 211, 0.12);
}

.light-blue {
  background-color: rgba(131, 179, 211, 0.2);
}

.lower-advantages-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.lower-advantages-item {
  width: 400px;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position-y: 81px;
  background-position-x: center;
  background-repeat: no-repeat;
}

.lower-advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 102px 0 30px;
}

.habitation {
  background-image: url("../images/icons/habitation.svg");
}

.food {
  background-image: url("../images/icons/food.svg");
}

.souvenirs {
  background-image: url("../images/icons/souvenirs.svg");
}

/*hotel-search*/

.hotel-search {
  text-align: center;
  min-height: 288px;
  padding: 42px;
  padding-top: 76px;
}

.hotel-search-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #756157;
  width: 376px;
  height: 52px;
  margin: 54px auto;
}

/*subscribe*/

.subscribe {
  text-align: center;
  padding: 50px;
  padding-top: 76px;
}

.subscribe-index {
  background-color: white;
  background-image: url("../images/subscribe-background-.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-form {
  display: flex;
  margin: 54px auto;
  justify-content: center;
}

.subscribe-input {
  width: 452px;
  height: 52px;
  box-sizing: border-box;
  padding-left: 18px;
  padding-right: 18px;
  border: 2px solid transparent;
  border-radius: 4px 0 0 4px;
  background-color: white;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
}

.subscribe-input-catalog {
  background-color: #F2F2F2;
}

.subscribe-input::placeholder {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.6;
}

.subscribe-button {
  width: 232px;
  height: 52px;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  border-radius: 0 4px 4px 0;
}

/*КАТАЛОГ*/

.main-inner-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
}

/*hotels-filter*/

.hotels-filter {
  background: url("../images/catalog-background.jpg") no-repeat;
  background-color: #3c6178;
  background-size: cover;
  width: 1060px;
  padding: 35px 70px 70px 70px;
}

.hotels-filter-header {
  margin-bottom: 40px;
}

.breadcrumbs-list {
  list-style-type: none;
  padding: 0;
  margin: 8px 0 0 0;
  display: flex;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  display: block;
  color: white;
  text-decoration: none;
}

.breadcrumbs-link[href]:hover {
  opacity: 0.6;
}

.breadcrumbs-link[href]:focus {
  outline: none;
}

.breadcrumbs-link[href]:active {
  opacity: 0.3;
}

.breadcrumbs-link-home {
  background-image: url("../images/icons/breadcrumb-home.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 13px;
  height: 21px;
  margin: 0;
}

.breadcrumbs-item {
  display: flex;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  width: 8px;
  height: 21px;
  background-image: url("../images/icons/breadcrumbs-divider.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 10px;
}

/*Стилизация формы*/

.filter-form {
  display: flex;
}

.hotels-filter-area {
  margin: 0 70px 0 0;
  padding: 0;
  border: none;
}

.hotels-filter-area:nth-of-type(3) {
  margin-left: auto;
}

.hotels-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding: 0;
}

.hotels-filter-list {
  list-style-type: none;
  padding: 0;
  margin: 32px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.buttons-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: auto;
}

.submit-button {
  width: 191px;
  height: 36px;
  background-color: #82B3D3;
  margin-bottom: 32px;
}

.reset-button {
  width: 191px;
  height: 36px;
  background-color: transparent;
}

/*Чекбоксы радио*/

.hotels-filter-item label {
  display: flex;
  font-size: 18px;
  line-height: 23px;
  align-items: center;
}

.checkbox-input {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  display: block;
  background-color: white;
  margin-right: 16px;
}

.radio-input {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: block;
  background-color: white;
  margin-right: 16px;
}

.visually-hidden-checkbox:checked + .checkbox-input::before {
  content: "";
  display: block;
  width: 13px;
  height: 11px;
  background-image: url("../images/icons/checkbox-input.svg");
  background-repeat: no-repeat;
  position: relative;
  left: 4px;
  top: 5px;
}

.visually-hidden-radio:checked + .radio-input::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3F5E72;
  position: relative;
  left: 5px;
  top: 5px;
}

/*range-input*/

.range-inputs {
  display: flex;
  gap: 2px;
  margin-top: 32px;
  margin-bottom: 44px;
}

.range-input {
  width: 143px;
  height: 48px;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding-left: 20px;
  border: none;
  background-color: #F2F2F2;
  appearance: textfield;
}

.range-input::-webkit-inner-spin-button,
.range-input::-webkit-outer-spin-button {
  appearance: none;
}

.range-input-min-price {
  border-radius: 4px 0 0 4px;
  padding-right: 47px;
}

.range-input-max-price {
  border-radius: 0 4px 4px 0;
  padding-right: 50px;
}

.range-inputs label {
  position: relative;
}

.range-inputs span {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  display: block;
  position: absolute;
  right: 20px;
  top: 12px;
  user-select: none;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-bottom: 8px;
  margin-top: 8px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: white;
  top: 0;
}

.range-toggle {
  width: 20px;
  height: 20px;
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  padding: 0;
  top: -8px;
}

.toggle-min {
  left: 0;
}

.toggle-max {
  right: 0;
}

/*catalog*/

.catalog {
  padding: 50px 70px 60px;
}

.sorting {
  display: flex;
  align-items: center;
}

.sorting-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-right: auto;
}

.sorting-by-price {
  appearance: none;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  color: #333333;
  width: 292px;
  height: 49px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 44px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-color: transparent;
  background-image: url("../images/icons/select-icon.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
}

.view-types-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 8px;
  margin-left: 70px;
}

.view-types-button {
  display: block;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.view-types-button-current {
  border-color: black;
}

.show-by-tile {
  background-image: url("../images/icons/icon-show-by-tile.svg");
}

.show-the-whole {
  background-image: url("../images/icons/icon-show-the-whole.svg");
}

.show-as-a-list {
  background-image: url("../images/icons/icon-show-as-a-list.svg");
}

.hotels-list {
  list-style-type: none;
  padding: 40px 0 39px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border-bottom: 1px solid #E6E6E6;
}

.hotel-card {
  padding: 20px;
  outline: 1px solid #E6E6E6;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 20px;
  align-items: center;
}

.hotel-card-image {
  display: block;
  grid-column: 1/-1;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  grid-column: 1/-1;
}

.hotel-card-type {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-price {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
}

.about-hotel-button {
  width: 140px;
  height: 36px;
  background-color: #756157;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-to-favorite {
  width: 140px;
  height: 36px;
  background-color: #82B3D3;
}

.add-to-favorite-added {
  background-color: #7DB54F;
}

.rating-star {
  width: 24px;
  height: 17px;
  background-image: url("../images/icons/rating-star.svg");
  background-repeat: space;
  background-position-y: center;
}

.two-rating-star {
  width: 48px;
}

.three-rating-star {
  width: 72px;
}

.four-rating-star {
  width: 96px;
}

.five-rating-star {
  width: 120px;
}

.rating-text {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 140px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
  border-radius: 4px;
  margin: 0;
}

.pagination-list {
  list-style-type: none;
  padding: 0;
  margin: 40px 0 0 0;
  display: flex;
  gap: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  background-color: #82B3D3;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  border-radius: 4px;
}

.pagination-link-current {
  background-color: #F2F2F2;
  color: black;
}

.pagination-divider {
  background-color: transparent;
  color: black;
}

/*page-footer*/

.page-footer {
  margin-top: auto;
  width: 1060px;
  min-height: 80px;
  padding: 25px 70px 15px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-media-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 188px;
}

.social-media-link {
  display: flex;
  width: 47px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.social-media-icon {
  fill: #83B3D3;
}

.social-media-link:hover .social-media-icon,
.social-media-link:focus .social-media-icon {
  fill: #68A2CA;
}

.social-media-link:active .social-media-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts {
  max-width: 720px;
}

.contacts-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.contacts-phone:hover,
.contacts-phone:focus {
  color: #756157;
}

.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy-link {
  display: block;
}

.htmlacademy-logo {
  display: block;
  fill: #000000;
}

.htmlacademy-link:hover .htmlacademy-logo,
.htmlacademy-link:focus .htmlacademy-logo {
  fill: #756157;
}

.htmlacademy-link:active .htmlacademy-logo {
  fill: rgba(117, 97, 87, 0.3);
}

/*Модальное окно*/

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  display: flex;
}

.modal-container {
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  background-color: white;
  margin: auto;
  padding: 64px 70px;
}

.hotel-search-form {
  display: grid;
  grid-template-columns: repeat(4, auto);
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  row-gap: 48px;
}

.modal-container .page-big-text {
  grid-column: 1 / 4;
  margin: 0 0 64px 0;
}

.hotel-search-close-button {
  grid-column: 4 / -1;
  justify-self: end;
  width: 52px;
  height: 52px;
  background-color: #F2F2F2;
  border-radius: 50%;
  background-image: url("../images/icons/close-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  transform: translateX(18px);
  cursor: pointer;
}

.arrival-date {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.departure-date {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity-of-adults {
  grid-column: span 2;
  display: flex;
  width: 247px;
  align-items: center;
}

.quantity-of-children {
  grid-column: span 2;
  justify-self: end;
  display: flex;
  width: 242px;
  align-items: center;
}

.arrival-date-input,
.departure-date-input,
.quantity-of-adults-input,
.quantity-of-children-input {
  font-family: inherit;
  font-size: 18px;
  font-weight: inherit;
  box-sizing: border-box;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px;
}

.arrival-date-input,
.departure-date-input {
  width: 440px;
  height: 48px;
  padding: 0 54px 0 20px;
  background-image: url("../images/icons/calendar-icon.svg");
  background-repeat: no-repeat;
  background-position: right 22px center;
}

.quantity-of-adults-input,
.quantity-of-children-input {
  width: 110px;
  height: 48px;
  appearance: textfield;
  text-align: center;
  padding-left: 22px;
  padding-right: 22px;
  margin-left: auto;
}

.quantity-of-adults-input::-webkit-inner-spin-button,
.quantity-of-children-input::-webkit-outer-spin-button {
  appearance: none;
}

.tooltip-children {
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #83B3D3;
  background-image: url("../images/icons/info-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 10px;
}

.hotel-search-submit-button {
  grid-column: 1 / -1;
  width: 577px;
  height: 60px;
  background-color: #83B3D3;
  font-size: 20px;
  line-height: 24px;
}

/*Состояния*/
/*Навигация*/

.logo-sedona-link[href]:hover,
.logo-sedona-link[href]:focus,
.logo-sedona-link[href]:focus-visible {
  opacity: 0.8;
  outline: none;
}

.logo-sedona-link[href]:active {
  opacity: 0.6;
}

.navigation-link[href]:hover,
.navigation-link[href]:focus,
.search:hover,
.search:focus,
.favorites:hover,
.favorites:focus {
  background-color: rgba(211, 211, 211, 0.8);
  outline: none;
}

.navigation-link[href]:active,
.search:active,
.favorites:active {
  background-color: rgb(211, 211, 211);
}

/*Кнопки*/

.navigation-user-button:hover,
.hotel-search-button:hover,
.about-hotel-button:hover,
.navigation-user-button:focus,
.hotel-search-button:focus,
.about-hotel-button:focus {
  background-color: #615048;
  outline: none;
}

.navigation-user-button:active,
.hotel-search-button:active,
.about-hotel-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.navigation-user-button:disabled,
.hotel-search-button:disabled,
.about-hotel-button:disabled,
.add-to-favorite:disabled,
.subscribe-button:disabled,
.submit-button:disabled,
.add-to-favorite-added:disabled {
  background-color: #E5E5E5;
  color: white;
  outline: none;
  cursor: default;
}

.add-to-favorite:hover,
.subscribe-button:hover,
.submit-button:hover,
.add-to-favorite:focus,
.subscribe-button:focus,
.submit-button:focus {
  background-color: #68A2CA;
  outline: none;
}

.add-to-favorite:active,
.subscribe-button:active,
.submit-button:active,
.add-to-favorite-added:active {
  color: rgba(255, 255, 255, 0.3);
}

.add-to-favorite-added:hover,
.add-to-favorite-added:focus {
  background-color: #6C9E42;
  outline: none;
}

.reset-button:hover {
  opacity: 0.6;
}

.reset-button:focus {
  border: 3px solid #83B3D3;
  outline: none;
}

.reset-button:active {
  outline: none;
  border: none;
  opacity: 0.3;
}

.reset-button:disabled {
  outline: none;
  opacity: 0.1;
  cursor: default;
}

/*Пагинация*/

.pagination-link[href]:hover,
.pagination-link[href]:focus {
  background-color: #68A2CA;
  border: 1px solid #82B3D3;
  outline: none;
}

.pagination-link[href]:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
  border: none;
}

/*Подписка*/
/*Кнопки сортировки*/

.sorting-by-price:hover,
.sorting-by-price:focus,
.subscribe-input:hover,
.subscribe-input:focus {
  border-color: #68A2CA;
  outline: none;
}

.sorting-by-price:active,
.subscribe-input:active {
  border-color: #3F5E72;
}

.sorting-by-price:disabled,
.subscribe-input:disabled {
  border-color: black;
  opacity: 0.3;
}

.view-types-button:hover {
  border-color: black;
}

.view-types-button:focus {
  border-color: #68A2CA;
  outline: none;
}

.view-types-button:active {
  border-color: black;
}

/*Каталог форма*/

.hotels-filter-item:hover {
  opacity: 0.6;
}

.hotels-filter-item:active {
  opacity: 0.3;
}

/*Не работает*/
.visually-hidden-checkbox:focus .checkbox-input,
.visually-hidden-radio:focus .radio-input {
  border: 3px solid #83B3D3;
}

.visually-hidden-checkbox:disabled .hotels-filter-item,
.visually-hidden-radio:disabled .hotels-filter-item {
  opacity: 0.1;
}

/*Ползунок*/

.range-input:hover {
  background-color: #E6E6E6;
}

.range-input:focus {
  background-color: #E6E6E6;
  border: 3px solid #83B3D3;
  outline: none;
}

.range-input:active {
  background-color: #F2F2F2;
  border: 2px solid black;
  outline: none;
}

.range-input:disabled {
  opacity: 0.2;
  background-color: #F2F2F2;
  border: none;
  outline: none;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border: 3px solid #83B3D3;
  outline: none;
}

.range-toggle:active {
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
  border: 2px solid #83B3D3;
  outline: none;
}

.range-toggle:disabled {
  background-color: lightslategray;
  box-shadow: none;
  border: none;
  outline: none;
  cursor: default;
}
